@import "../../../node_modules/xterm/lib/xterm.css";
/* .xterm-screen{
    width: 100% !important;
    height: 100% !important;
}

.xterm-viewport{
    width: 100% !important;
    height: 100% !important;
} */