@import "../../node_modules/codemirror/lib/codemirror.css";
@import "../../node_modules/codemirror/theme/abcdef.css";
@import "../../node_modules/vex-js/dist/css/vex.css";
@import "../../node_modules/vex-js/dist/css/vex-theme-os.css";

/***********************
 *  APP HEADER STYLES  *
 ***********************/
.app-header{
    background-color: #212121;
    height: 2.5em;
}

.app-header-content{
    display:-webkit-flex;
    display: flex;
    justify-content: space-between;
}

.app-header-content>.current-server{
    display: flex
}

.app-header-content>.current-server>.menu-icon{
    font-size: 25px;
    color: #BBDEFB;
    padding: 5px;
}

.app-header-content>.current-server>.menu-icon:hover{
    background-color: #E0E0E0;
    color: #212121;
    transition: 0.25s all;
    border-radius: 2px;
    cursor: pointer;
}
.app-header-content>.current-server>.current-server-name{
    font-size: 15px;
    margin-top: 7px;
    color: #BBDEFB;
    font-weight: bold;
    margin-left: 5px;
}

.app-header-content>.current-menu-item{
    font-family: 'Courier New', Courier, monospace;
    color: #F5F5F5;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    height: 100%;
}

.app-header-content>.current-user{
    line-height: 2.5em;
    margin-right: 30px
}

.app-header-content>.current-user>.current-user-icon{
    color: #F5F5F5;
    font-size: 13px;
    margin-right: 5px
}

.app-header-content>.current-user>.current-user-name{
    color: #F5F5F5;
    font-size: 13px;
}

.app-header-content>.current-user:hover{
    color: #BBDEFB;
    text-decoration: underline;
    cursor: pointer;
}

.current-user-menu-item{
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px; 
}

.current-user-menu-item>span:first-child{
    margin-right: 5px;
}

.current-user-menu-item>span{
    font-size: 12px;
}

.sidebar-menuitem{
    font-size: 15px;
    padding: 5px;
    color: #BBDEFB;
}

.sidebar-menuitem>span.glyphicon{
    margin-right: 7px;
}

/**************************
 *   FILE SYSTEM STYLES   *
 **************************/

.fs-container{
    position: absolute;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.fs-container>.fs-header{
    min-height: 2.5em;
    border-bottom: 1px solid rgba(0,0,0,0.15); 
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}
.fs-header-menu{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.fs-header-menu-item{
    display: inline-block;
    height: calc(100% - 10px);
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 3px;
}
.fs-header-menu-item.fs-header-menu-item-hoverable:hover{
    background-color: #E8EAF6;
    border: 1px solid #9FA8DA;
}
.fs-header-menu-item.fs-header-menu-item-disabled>.glyphicon{
    color: #aaa !important
}
.fs-header-menu-item.operation-message{
    background-color: #EFEBE9;
    border-color: 1px solid #A1887F;
    padding: 3px; 
    padding-left: 10px;
    padding-right: 10px;
}
.fs-header-menu-item>.glyphicon{
    font-size:20px;
    text-shadow: 0 0.15px 0 #ccc,
               0 0.15px 0 #c9c9c9,
               0 0.15px 0 #bbb,
               0 0.5px 0 #b9b9b9,
               0 0.25px 0 #aaa,
               0 0.5px 0.15px rgba(0,0,0,.075),
               0 0 0.75px rgba(0,0,0,.075),
               0 0.10px 0.25px rgba(0,0,0,.15),
               0 0.15px 0.25px rgba(0,0,0,.1),
               0 0.25px 0.5px rgba(0,0,0,.125),
               0 0.5px 0.5px rgba(0,0,0,.1),
               0 1.25px 1.25px rgba(0,0,0,.10);
}
.fs-container>.fs-content{
    flex-grow: 1;
}
.fs-display{
    
}
.fs-quick-access{
    border-right: 1px solid #777;
}
.fs-quick-access-header{
    min-height: 3em;
    background-color: #6c6c6c;
    box-shadow: 0px 2px 0px rgba(0,0,0,0.1);
    text-align: center
}
.fs-quick-access-header>h3{
    color: #E0E0E0;
    font-size: 15px;
    font-weight: bold;
    line-height: 3em;
}
.fs-quick-access-item>span{
    font-size: 17px
}
.fs-display>.fs-display-header{
    height: 3em;
    border-bottom: 1px solid rgba(0,0,0,0.15); 
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}
.fs-display>.fs-display-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    max-height: calc(100% - 15px);
    height: calc(100% - 15px);
    overflow-y: auto;
    padding-bottom: 75px;
    background-color: #F5F5F5
}
/******************
 *  FOOTER STYLES *
 ******************/
footer{
    height: 15px;
    background-color: #212121;
    color: #E0E0E0;
}


/*****************
 *  OTHER STYLES *
 *****************/
.centered-content{
    display: flex;
    justify-content: center;
    align-items: center;    
}
.match-parent{
    width: 100%;
    height: 100%;
}

.pane{
    background-color: #F5F5F5;
    flex-grow: 1;
}
.app-container{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.devhoncho-app{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.md-icon{
    width: 128px;
    height: 100px;
}

.codemirror-1{
    display: inline-block;
    width: 400px;
}

.file-component, .folder-component{
    position: relative;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.file-component>.glyphicon{
    text-shadow: 0 0.15px 0 #ccc,
               0 0.15px 0 #c9c9c9,
               0 0.15px 0 #bbb,
               0 0.5px 0 #b9b9b9,
               0 0.25px 0 #aaa,
               0 0.5px 0.15px rgba(0,0,0,.075),
               0 0 0.75px rgba(0,0,0,.075),
               0 0.10px 0.25px rgba(0,0,0,.15),
               0 0.15px 0.25px rgba(0,0,0,.1),
               0 0.25px 0.5px rgba(0,0,0,.125),
               0 0.5px 0.5px rgba(0,0,0,.1),
               0 1.25px 1.25px rgba(0,0,0,.10);

}

.folder-component>.glyphicon{
    text-shadow: 0 0.25px 0 #ccc,
               0 0.5px 0 #c9c9c9,
               0 0.75px 0 #bbb,
               0 1px 0 #b9b9b9,
               0 1.25px 0 #aaa,
               0 1.5px 0.25px rgba(0,0,0,.075),
               0 0 1.25px rgba(0,0,0,.075),
               0 0.25px 0.75px rgba(0,0,0,.15),
               0 0.75px 1.25px rgba(0,0,0,.1),
               0 1.25px 2.5px rgba(0,0,0,.125),
               0 2.5px 2.5px rgba(0,0,0,.1),
               0 5px 5px rgba(0,0,0,.10);

}